<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Invite</a></li>
		        	<li><a href="/presentation">Presentation</a></li>
	        		<li><a href="/handout">Handout</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sarahb97@live.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
